.column-container {
  flex-direction: column;
  justify-content: center;
  height: auto;
  align-items: center;
}

.column {
  width: 95%;

}

.faq-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-category h1 {
  width: 75%;
  padding: 1rem 0 0;
  margin: 1rem 0 0;
  color: #82ABD1;
}
.faq-category > * {
  text-align: center;
}
.faq-content p {
  margin-bottom: 0.25rem;
}
.faq-content ul {
  margin-bottom: 0.25rem;
}
ul.split-list{
  margin: 0;
}
.split-list li {
  display: inline;
}
.faq-content {
  transition: all 1s cubic-bezier(0.59, 0.92, 0.58, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faq-content > * {
  position: relative;
  transition: all 1s cubic-bezier(0.59, 0.92, 0.58, 1);
  bottom: 0;
  text-align: center;
}
.faq-showing {
  overflow: hidden;
  bottom: 0;
}

.faq-showing#taxi-content {
  height: 79px;
}
.faq-showing#parking-content {
  height: 373px;
}
.faq-showing#alt-travel-content {
  height: 202px;
}
.faq-showing#accommodation-content {
  height: 272px;
}
.faq-showing#prat-content {
  height: 100px;
}
.faq-showing#footwear-content {
  height: 142px;
}
.faq-showing#people-content {
  height: 358px;
}
.faq-showing#faq-rsvp-content {
  height: 58px;
}

.faq-hidden {
  height: 0;
  overflow: hidden;
}
.faq-hidden > * {
  bottom: 200px;
}
.faq-button {
  border-bottom: 5px dotted #82ABD1;
  text-align: center;
  cursor: pointer;
  width: 90%;
}
.faq-button img {
  height: 2rem;
  width: auto;
  padding-bottom: 0.5rem;
}

@media only screen and (min-width: 450px) {
  .faq-category h1 {
    width: 75%;
    padding: 1rem 1rem 0;
  }
  .column {
    width: 100%;
    padding: 0;
  }
  .faq-button {
    width: 325px;
  }
  .faq-content {
    width: 300px;
  }
  .faq-showing#taxi-content {
    height: 88px;
  }
  .faq-showing#parking-content {
    height: 544px;
  }
  .faq-showing#alt-travel-content {
    height: 280px;
  }
  .faq-showing#accommodation-content {
    height: 356px;
  }
  .faq-showing#prat-content {
    height: 136px;
  }
  .faq-showing#footwear-content {
    height: 184px;
  }
  .faq-showing#people-content {
    height: 424px;
  }
  .faq-showing#faq-rsvp-content {
    height: 64px;
  }
}

@media only screen and (min-width: 769px) {
  .column {
    width: 80%;
  }
  .faq-button {
    width: 480px;
  }
  .faq-content {
    width: 450px;
  }
  .faq-category h1 {
    width: 90%;
  }
  .faq-showing#taxi-content {
    height: 88px;
  }
  .faq-showing#parking-content {
    height: 376px;
  }
  .faq-showing#alt-travel-content {
    height: 208px;
  }
  .faq-showing#accommodation-content {
    height: 332px;
  }
  .faq-showing#prat-content {
    height: 88px;
  }
  .faq-showing#footwear-content {
    height: 136px;
  }
  .faq-showing#people-content {
    height: 400px;
  }
  .faq-showing#faq-rsvp-content {
    height: 64px;
  }
}
@media only screen and (min-width: 992px) {
  .column-container {
    flex-direction: row;
    height: 90vh;
  }
  .column {
    width: 50%;
  }
  .faq-button {
    width: 67%;
  }
  .faq-content {
    width: 315px;
  }
  .faq-category h1 {
    width: 90%;
  }
  .faq-showing#taxi-content {
    height: 88px;
  }
  .faq-showing#parking-content {
    height: 496px;
  }
  .faq-showing#alt-travel-content {
    height: 280px;
  }
  .faq-showing#accommodation-content {
    height: 332px;
  }
  .faq-showing#prat-content {
    height: 136px;
  }
  .faq-showing#footwear-content {
    height: 184px;
  }
  .faq-showing#people-content {
    height: 424px;
  }
  .faq-showing#faq-rsvp-content {
    height: 64px;
  }
}
@media only screen and (min-width:1200px) {
  .faq-content {
    width: 400px;
}
  .faq-showing#taxi-content {
    height: 88px;
  }
  .faq-showing#parking-content {
    height: 400px;
  }
  .faq-showing#alt-travel-content {
    height: 208px;
  }
  .faq-showing#accommodation-content {
    height: 260px;
  }
  .faq-showing#prat-content {
    height: 112px;
  }
  .faq-showing#footwear-content {
    height: 136px;
  }
  .faq-showing#faq-people {
    height: 400px;
  }
  .faq-showing#faq-rsvp-content {
    height: 64px;
  }
}
