
#venue-main {
  min-height: 100%;
}
#venue-main > .row {
  height: 100%;

}
#ceremony {
  background: var(--gray);
  min-height: 100%;
}

#reception {
  background: var(--light);
  height: 100%;
}
.venue-image {
  border: 4px var(--gray-dark) solid;
  border-radius: 50%;
  width: 90%;
  max-width: 455px;
  margin: 2rem auto ;
}
.content-venue {
  min-height: 150px;
}


.offscreen {
  visibility: hidden;
  opacity: 0;
}
.onscreen {
  visibility: visible;
  opacity: 1;
}

.slider {
  max-height: 80vh;
  width: 100%;
  position: absolute;
  z-index: 10;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 1s cubic-bezier(0.59, 0.92, 0.58, 1);
}
.slider-container {
  position: relative;
  min-height: 200px;
}
.ceremony-button {
  z-index: 100;
}
.venue-icon-container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.venue-icon-container .row {
  width: 100%;
}
.icon {
  height: 140px;
}
